.header {
  background-color: #202020;
  height: 2.5rem;
  /* max-width: 1440px; */
  color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #313131;
  z-index: 999;
}
.header__left {
  flex: 0.2;
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-right: 20px;
}

.header__left > .MuiSvgIcon-root {
  cursor: pointer;
  /* font-size: 30px !important; */
}

.header__leftLogo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 20px;
  cursor: pointer;
}

.header__leftLogo > .MuiSvgIcon-root {
  font-size: 40px !important;
  color: Red !important;
}

.header__center {
  flex: 0.55;
}

.header__center > form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__center > form > input {
  height: 32px;
  width: 68%;
  max-width: 600px;
  padding-left: 12px;
  /* padding-top: 2px; */
  padding-bottom: 2px;
  background-color: #121212;
  color: whitesmoke;
  outline: none;
  border: 1px solid #313131;
  font-size: 18px;
  font-weight: 500;
}

.header__center > form > button {
  height: 36px;
  width: 70px;
  background-color: #313131;
  outline: none;
  border: none;
  cursor: pointer;
}

.header__center > form > button:hover .MuiSvgIcon-root {
  color: #909090;
}

.header__center > form > button > .MuiSvgIcon-root {
  color: #606060;
}

.header__center > form > .MuiSvgIcon-root {
  margin-left: 12px;
  cursor: pointer;
}

.header__right {
  flex: 0.25;
}

.header__rightIcons {
  max-width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: 20px;
}
